# zsh関連のキャッシュファイル等
zsh/.zcompdump*
zsh/.zsh_history

# raycastは一旦不要としておく
raycast

# coc
coc

# nvimのバッケージも不要
nvim/pack

# とりあえず不要なディレクトリ群(必要になったら追加する)
configstore
iterm2
yarn

# lazy
nvim/lazy-lock.json

# backup
nvim/init.vim_buckup

